<center>
    <h1>outfit</h1>
    <a href="/outfit/add"><button>코디 추가</button></a>
</center>
<br>
<form action="/" mehtod="POST">
    <table class="table container">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nickname</th>
                <th>Title</th>
                <th>Content</th>
                <th>file</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>text</td>
                <td>testtest</td>
                <td>testtesttesttest</td>
                <td>1.txt</td>
                <td>
                    <a href="/outfit/update">수정</a>
                    <a href="#">삭제</a>
                </td>
            </tr>
        </tbody>
    </table>
</form>